// Fonts
/*@import url('https://fonts.googleapis.com/css?family=Nunito');*/

// Variables
//@import 'variables';

@import '~onsenui/css/onsenui.css';
@import '~onsenui/css/onsen-css-components.css';

body {
  max-width: 700px;
}

/* https://webgradients.com/ */
.background.main-bg {
  //background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  //background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  background-image: linear-gradient(-45deg, #FFC796 0%, #b84848 100%);
}

.currentYear > .card.text-card {
  background-color: rgba(255,255,255,0.8);
}
.currentYear > .card.text-card .card--material__title {
  font-weight: bold;
  font-size: 14px;
}
.pastYear > .card.text-card {
  background-color: rgba(255,255,255,0.4);
}

.text-card .card--material__title {
  font-size: 12px;
  margin-top: -4px;
  margin-bottom: 0;
}
.text-card .card--material__title .button--material--flat {
  line-height: normal;
  min-height: 0;
  padding:4px 0;
  font-size: inherit;

}