<template id="main-page">
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">MetaJournal</div>
    </v-ons-toolbar>

    <div class="background main-bg"></div>

<!--    @update:index="updateIndex"   overscrollable  -->
    <v-ons-carousel fullscreen swipeable auto-scroll
      @postchange="postchange"
      :index="carouselIndex"
      
      @overscroll="overscroll"
      ref="c"
      >
      <v-ons-carousel-item v-for="(item, key) in items" :key="key">
        <day-text :key="item.date.format('YYYY-MM-DD')" :date="item.date"></day-text>
      </v-ons-carousel-item>
    </v-ons-carousel>





  </v-ons-page>
</template>


<script>
import storage from '../LocalStorage';
import moment from 'moment';
import DayText from './DayText';
/*
    <v-ons-card v-if="currentText !== null" class="text-card">
      <div class="title">
        {{ currentDateFormatted }}
      </div>
      <div class="content">
        <div v-show="!editActive">

          <p>
            {{ currentText.text }}
          </p>
        </div>
        <textarea v-show="editActive" v-model="currentText.text" style="width:100%" class="textarea textarea--material" rows="10"></textarea>
      </div>
    </v-ons-card>

*/
export default {
  components: {
    DayText
  },
  data: function() {
    return {
      currentDate: moment(),
      carouselIndex: 1,
      items: [],
      editActive: false,
      currentText: {key: moment().format('YYYY-MM-DD'), updated_at: null, text: 'Morbi consectetur, neque nec maximus rutrum, nulla dui euismod nulla, eu efficitur enim turpis id lectus. Cras sit amet felis et sem aliquam ornare. Nam a turpis vulputate, convallis elit vitae, pharetra mauris. Nunc ut mi ultrices, tincidunt dolor eget, accumsan mauris. Maecenas vehicula felis nec risus feugiat, in.', dirty: false},
    };
  },
  computed: {
    currentDateFormatted() {
      if (!this.currentText) return null;
      let m = moment(this.currentText.key);
      return m.format('L');
    }
  },
  mounted(){
    //console.log('mounted');
    //console.log(this.currentDate);
    let next = moment(this.currentDate).add(1, 'days');
    let prev = moment(this.currentDate).subtract(1, 'days');

    this.items.push({color: '#ccccaa', date: prev});
    this.items.push({color: '#ccccaa', date: this.currentDate});
    this.items.push({color: '#ccccaa', date: next});

  },

  methods: {
    postchange(event) {
      console.log('postchange', event.activeIndex, event.lastActiveIndex);
      if (event.activeIndex === 1) {
        console.log('nope');
        
        return;
      }

      // evtl probieren den dom zu ändern?

      // .activeIndex .lastActiveIndex

      //this.items.push(this.items.shift());
      /*this.items = [
        this.items[1],
        this.items[2],
        this.items[0],
      ];*/
      /*let newItems = [
        this.items[1],
        this.items[2],
        this.items[0],
      ];
      newItems[2].date = moment(newItems[1].date).add(1, 'days');
      this.items = newItems;*/
      let middledate = this.items[1].date;
      if (event.activeIndex>event.lastActiveIndex) {
        this.items[1].date = this.items[2].date;
        this.items[2].date = moment(this.items[2].date).add(1, 'days');
        this.items[0].date = middledate;
      } else {
        this.items[1].date = this.items[0].date;
        this.items[0].date = moment(this.items[0].date).subtract(1, 'days');
        this.items[2].date = middledate;
      }
      event.carousel.setActiveIndex(1, {animation: 'none'});

    },
    updateIndex(index) {
      console.log('updateIndex', index);
      //this.carouselIndex = 1;
    },
    overscroll(event) {
      /*// .activeIndex:2   .direction: "right"  .waitToReturn(promise) ???
      console.log('overscroll', event);
      event.waitToReturn(new Promise((res,rej)=>{
        this.items.push({name: 'RED', color: '#aa2233'});
        event.carousel.next();
        console.log('##1');
        res('###')
      }))*/
    }
  }

};
</script>