<template id="main-page">

  <v-ons-splitter modifier="material">
    <v-ons-splitter-side
      swipeable width="200px" collapse="" side="left"
      :open.sync="openSide"
    >
      <v-ons-page>
        <p align="center">
          <img src="/images/app-logo-48x48.png"/>
        </p>
        <v-ons-list>
          <v-ons-list-item v-for="page in pages" :key="page.component"
            tappable modifier="chevron"
            @click="currentPage = page.component; openSide = false"
          >
            <div class="center">{{ page.title }}</div>
          </v-ons-list-item>
        </v-ons-list>
      </v-ons-page>

    </v-ons-splitter-side>
    <v-ons-splitter-content>
      <component
        :is="currentPage"
        @toolbar-open-menu="openSide = true"
        @toolbar-go-back="openSide = false; currentPage=pages[0].component"
        ></component>
    </v-ons-splitter-content>
  </v-ons-splitter>




</template>


<script>
import storage from '../LocalStorage';

import Diary from './Diary';
import DataManager from './DataManager';


// http://zavoloklom.github.io/material-design-iconic-font/icons.html#
export default {
  components: {
    Diary,
    DataManager
  },
  data: function() {
    return {
      currentPage: 'diary',
      openSide: false,
      pages: [
        {title: 'Tagebuch', component: 'diary'},
        {title: 'Daten verwalten', component: 'data-manager'}]
    };
  },
  computed: {
  },
  created() {
  },
  mounted(){
  },


  methods: {
    

  }

};
</script>