<template id="export">
  <v-ons-page modifier="material">

    <page-header mode="back" @action="(action) => $emit('toolbar-'+action)">
      <template v-slot:center>
        Daten Manager
      </template>
    </page-header>

    <div class="background main-bg"></div>

    <div class="content">

      <storage-data-manager :db="getDB()" fileNameBase="metajournal"></storage-data-manager>
      
    </div>

  </v-ons-page>
</template>
<script>
import storage from '../LocalStorage';
import PageHeader from './PageHeader';
import moment from 'moment';
import {StorageDataManager} from '../DataManager';
import {wait} from '../helpers';

export default {
  name: 'data-manager',
  components: {
    PageHeader,
    StorageDataManager
  },
  data: function() {
    return {
    };
  },

  computed: {
  },

  created() {
  },

  async mounted(){
  },


  methods: {
    getDB() {
      return storage.getDB();
    },
    
  }

};
</script>