<template>
<div :class="type">
  <v-ons-card modifier="material" v-if="currentText !== null" class="text-card">
    <div class="title" style="display:flex; flex-direction:row; justify-content:space-between; align-items:center;">
      <span style="padding:4px 0;">{{ year }}</span>
    </div>
    <div class="content">

      <p v-show="!editActive" class="text" ref="textRef">
        {{ currentText.text }}<em v-if="!currentText.text">leer</em>
      </p>
      <div v-show="editActive" style="margin-left:-16px; margin-right:-16px;">
        <div style="display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding-left:16px;">
          <span>{{wordCount}}/{{maxWords}} <v-ons-icon style="color:#aa1122;" v-show="wordCount > maxWords" icon="md-alert-circle-o"></v-ons-icon></span>
          <button class="button button--material--flat" @click="editActive=false">FERTIG</button>
        </div>
        <textarea ref="text" @blur="editActive=false" @input="taInput" v-model="currentText.text" style="width:100%; " class="textarea textarea--material" rows="10"></textarea>
      </div>

      <template v-if="secondTextEnabled">
        <hr/>
        <p v-show="!editActive2" class="text2" ref="textRef2">
          {{ currentText.text2 }}<em v-if="!currentText.text2">leer</em>
        </p>
        <div v-show="editActive2" style="margin-left:-16px; margin-right:-16px;">
          <div style="display:flex; flex-direction:row; justify-content:space-between; align-items:center; padding-left:16px;">
            <span>{{wordCount2}}/{{maxWords}} <v-ons-icon style="color:#aa1122;" v-show="wordCount2 > maxWords" icon="md-alert-circle-o"></v-ons-icon></span>
            <button class="button button--material--flat" @click="editActive2=false">FERTIG</button>
          </div>
          <textarea ref="text2" @blur="editActive2=false" @input="taInput" v-model="currentText.text2" style="width:100%; " class="textarea textarea--material" rows="10"></textarea>
        </div>
      </template>



    </div>
  </v-ons-card>
</div>
</template>


<script>
import storage from '../LocalStorage';
import moment from 'moment';
import {wait} from '../helpers';
import settings from '../LocalSettings';

function wc(text) {
  if (typeof text === 'undefined') return 0;
  let m = text.match(/\S+/g);
  return m ? m.length : 0;
}

function emptyText(key) {
  return {key: key, updated_at: null, text: '', text2: '', dirty: false};
}

export default {
  name: 'day-text',
  props: ['date', 'type'],
  data: function() {
    return {
      secondTextEnabled: settings.get('secondTextEnabled', true),
      editActive: false,
      editActive2: false,
      currentText: emptyText(this.dateKey),
      maxWords: settings.get('maxWords', 49),
    };
  },
  computed: {
    year() {
      if (!this.date) return null;
      return this.date.format('YYYY');
    },
    dateKey() {
      return this.date.format('YYYY-MM-DD');
    },
    wordCount() {
      if (!this.currentText) return 0;
      return wc(this.currentText.text);
    },
    wordCount2() {
      if (!this.currentText) return 0;
      return wc(this.currentText.text2);
    },
    
  },

  async mounted(){
    if (this.secondTextEnabled) {
      this.gd = this.$ons.GestureDetector(this.$refs.textRef);
      this.gd.on('doubletap', this.activateEdit);
      this.gd2 = this.$ons.GestureDetector(this.$refs.textRef2);
      this.gd2.on('doubletap', this.activateEdit2);
    } else {
      // https://hammerjs.github.io/
      this.gd = this.$ons.GestureDetector(this.$el);
      this.gd.on('doubletap', this.activateEdit);
    }
    
    let key = this.dateKey;
    try {
      let text = await storage.getText(key);
      if (this.secondTextEnabled) { // falls zweiter text gewünscht aber nicht vorhanden
        if (typeof text.text2 === 'undefined') {
          text.text2 = '';
        }
      }
      this.currentText = text;
    } catch (error) {
      this.currentText = emptyText(key);
    }


  },

  methods: {
    async activateEdit() {
      this.editActive = true;
      await wait(0);
      this.$refs.text.focus();
    },
    async activateEdit2() {
      this.editActive2 = true;
      await wait(0);
      this.$refs.text2.focus();
    },
    taInput() {
      this.currentText.dirty = true;
      storage.saveText(this.currentText);
    }
  }

};
</script>

<style scoped>
p.text, p.text2 {
  min-height:10px;
}
p.text2 {
  margin-bottom: 0;
}
p.text {
  margin-top: 0;
}
hr {
  border:none;
  border-top:solid 1px #333;
}
</style>