<template>
<div style="display:flex; flex-direction:column; height:100%;">
  <h1 style="flex: 0 1 auto; color:white; text-shadow:0 2px 3px #333;" align="center">{{ dateFormatted }}</h1>
  <div style="flex: 1 1 auto; overflow-y:auto;padding-bottom:1rem;">
    <day-text :date="date" type="currentYear"></day-text>
    <day-text v-for="date2 in pastYears" :date="date2" :key="date2.format('YYYY-MM-DD')" type="pastYear"></day-text>
    <div style="display:flex; flex-direction:row; justify-content:center;">
      <button v-if="minYear<year" style="text-shadow:0 0 6px #fff;" class="button button--material--flat" @click="$emit('change-min-year', 1)">weniger</button>
      <button class="button button--material" @click="$emit('change-min-year', -1)">mehr</button>
    </div>
  </div>


</div>
</template>


<script>
import storage from '../LocalStorage';
import moment from 'moment';
import DayText from './DayText';
/*

*/

function emptyText(key) {
  return {key: key, updated_at: null, text: '', dirty: false};
}
export default {
  components: {DayText},
  name: 'day-view',
  props: ['date', 'minYear'],
  data: function() {
    return {
      
    };
  },
  computed: {
    year() {
      if (!this.date) return null;
      return this.date.format('YYYY');
    },
    pastYears() {
      let py = [];
      let cy = this.date.year();
      for (let y = cy-1; y >= this.minYear; y--) {
        py.push(moment(this.date).year(y));
      }
      return py;
    },
    dateFormatted() {
      if (!this.date) return null;
      let m = this.date.format('LL');
      m = m.replace(this.date.format('YYYY'), '');
      return m;
    },
  },
  async mounted(){
    this.pastYears.push(moment(this.date).subtract(1, 'years'));
  },

  methods: {
  }

};
</script>