<template id="diary">
  <v-ons-page modifier="material">
    <page-header mode="menu" @action="(action) => $emit('toolbar-'+action)">
      <template v-slot:right>
        <ons-toolbar-button ref="JumpTodayButton" @click="onJumpToday">
          <ons-icon icon="md-calendar-check"></ons-icon>
        </ons-toolbar-button>
      </template>
    </page-header>

    <div class="background main-bg"></div>

<!--    @update:index="updateIndex"   overscrollable  -->
    <v-ons-carousel id="three-days"
      fullscreen swipeable auto-scroll
      @postchange="postchange"
      :index="carouselIndex"
      @overscroll="overscroll"
      ref="c"
      :auto-scroll-ratio="0.2"
      >
      <v-ons-carousel-item :key="'c_i_1'" id="c_i_1" :dateIndex="0" style="">
        <day-view :minYear="minYear" @change-min-year="changeMinYear" v-if="items[0]!==null" :key="items[0].date ? items[0].date.format('YYYY-MM-DD') : 0" :date="items[0].date"></day-view>
      </v-ons-carousel-item>
      <v-ons-carousel-item :key="'c_i_2'" id="c_i_2" :dateIndex="1" style="">
        <day-view :minYear="minYear" @change-min-year="changeMinYear" v-if="items[1]!==null" :key="items[1].date ? items[1].date.format('YYYY-MM-DD') : 0" :date="items[1].date"></day-view>
      </v-ons-carousel-item>
      <v-ons-carousel-item :key="'c_i_3'" id="c_i_3" :dateIndex="2" style="">
        <day-view :minYear="minYear" @change-min-year="changeMinYear" v-if="items[2]!==null" :key="items[2].date ? items[2].date.format('YYYY-MM-DD') : 0" :date="items[2].date"></day-view>
      </v-ons-carousel-item>
    </v-ons-carousel>





    <v-ons-dialog
      cancelable
      :visible.sync="dateSelector.visible"
    >
      <datepicker
        :inline="true"
        @selected="onDateSelected"
        :value="dateSelector.value"
        initial-view="day"
        minimum-view="day"
        maximum-view="day"
        :monday-first="true"
        :language="dateSelector.lang"
      ></datepicker>
    </v-ons-dialog>


  </v-ons-page>
</template>
<script>
import storage from '../LocalStorage';
import moment from 'moment';
import DayView from './DayView';
import PageHeader from './PageHeader';
import settings from '../LocalSettings';

// has bugs
//import DatePicker from 'vue-md-date-picker';

// https://www.npmjs.com/package/vuejs-datepicker
import Datepicker from 'vuejs-datepicker';
import {de} from 'vuejs-datepicker/dist/locale';


function getYearsToThePast() {
  let y = settings.get('yearsToThePast', 1);
  if (y<0) y=0;
  return y;
}

// http://zavoloklom.github.io/material-design-iconic-font/icons.html#

export default {
  name: 'diary',
  components: {
    PageHeader,
    DayView,
    Datepicker
  },
  data: function() {
    let thisYear = moment().year();
    let today = moment(settings.get('currentDate', undefined));
    today.year(thisYear);
    let [prev, next] = this.getDatesAround(today);
    return {
      items: [{date: prev}, {date: today}, {date: next}],
      carouselIndex: 1,
      editActive: false,
      minYear: thisYear-getYearsToThePast(),
      currentYear: thisYear,
      dateSelector: {visible: false, date: null, value: null, lang: de},
    };
  },
  computed: {
    currentDateFormatted() {
      if (!this.currentText) return null;
      let m = moment(this.currentText.key);
      return m.format('L');
    }
  },
  created() {
  },
  mounted(){
    this.$ons.GestureDetector(this.$refs.JumpTodayButton).on('hold', this.onDateSelect)
    this.wasHold = false;
  },


  methods: {
    postchange(event) {
      if (event.activeIndex === 1) {
        return;
      }
      //let middledate = this.items[1].date;
      let leftmostElement = document.querySelector('#three-days ons-carousel-item:first-child');
      let rightmostElement = document.querySelector('#three-days ons-carousel-item:last-child');
      let parent = leftmostElement.parentElement;
      let currentDate;
      if (event.activeIndex>event.lastActiveIndex) {
        // right -->
        currentDate = moment(this.items[rightmostElement.__vue__.$attrs.dateIndex].date);
        parent.removeChild(leftmostElement);
        parent.appendChild(leftmostElement);
        let dateIndex = leftmostElement.__vue__.$attrs.dateIndex; // geht das schöner ?
        this.items[dateIndex].date = moment(this.items[dateIndex].date).add(3, 'days');
      } else {
        // left <--
        currentDate = moment(this.items[leftmostElement.__vue__.$attrs.dateIndex].date);
        parent.insertBefore(rightmostElement, leftmostElement);
        let dateIndex = rightmostElement.__vue__.$attrs.dateIndex; // geht das schöner ?
        this.items[dateIndex].date = moment(this.items[dateIndex].date).subtract(3, 'days');
      }
      event.carousel.setActiveIndex(1, {animation: 'none'});
      settings.set('currentDate', currentDate.format('YYYY-MM-DD'));
    },
    updateIndex(index) {
    },
    overscroll(event) {
    },

    jumpToDate(date) {
      let [prev, next] = this.getDatesAround(date);
      let $days = document.querySelectorAll('#three-days ons-carousel-item');
      if ($days.length !== 3) return;
      this.items[$days.item(0).__vue__.$attrs.dateIndex].date = prev;
      this.items[$days.item(1).__vue__.$attrs.dateIndex].date = date;
      this.items[$days.item(2).__vue__.$attrs.dateIndex].date = next;
      settings.set('currentDate', date.format('YYYY-MM-DD'));
    },

    getCurrentDate() {
      let $days = document.querySelectorAll('#three-days ons-carousel-item');
      return this.items[$days.item(1).__vue__.$attrs.dateIndex].date;
    },

    onJumpToday() {
      let wh = this.wasHold
      this.wasHold = false;
      if (wh) return;
      console.log('JUM TODAY');
      this.jumpToDate(moment());
    },

    onDateSelect(event) {
      console.log('HOLDing');
      this.wasHold = true;
      this.dateSelector.visible = true;
      this.dateSelector.target = event;
      this.dateSelector.value = this.getCurrentDate().format('YYYY-MM-DD');
    },

    onDateSelected(date) {
      this.dateSelector.visible = false;
      let m = moment(date);
      m.year(moment().year()); // nur aktuelles Jahr
      this.jumpToDate(m);
    },

    getDatesAround(date) {
      let next = moment(date).add(1, 'days');
      let prev = moment(date).subtract(1, 'days');
      return [prev, next];
    },

    changeMinYear(amount) {
      this.minYear+= amount;
      settings.set('yearsToThePast', this.currentYear-this.minYear);
    }



  }

};
</script>