<template>
  
    <v-ons-toolbar>
      <div class="left" v-if="mode">
        <ons-toolbar-button v-if="mode==='menu'" @click="$emit('action', 'open-menu')">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
        <ons-toolbar-button v-if="mode==='back'" @click="$emit('action', 'go-back')">
          <ons-icon icon="md-chevron-left"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        <slot name="center">MetaJournal</slot>
      </div>
      <div class="right">
        <slot name="right"></slot>
      </div>
    </v-ons-toolbar>


</template>
<script>
export default {
  name: 'page-header',
  props:['mode'],
}
</script>